h1{
  margin-top: 0;
  margin-bottom: 0;
}

video{
  width: 100%;
}

.nav > li{
  list-style: none;
  margin-bottom: .5em;
}

.main h2{
  font-size: 141%;
  margin-bottom: 4rem;
}

.footer{
  margin-top: 8rem;
}

.hide{
  display: none;
}

.fadeout{
  display: none;
  transition-duration: 1s;
}

.fadein{
  display: block;
  transition-duration: 1s;
}

#ambient-light .main{
  color: white;
}

#ambient-light.night{
  background-color: #333;
  transition-duration: 2s; 
}

